body{
  background-color:#f4f4f4;
  align-items: center;
}
div{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color:blue;
}
p{
  font-weight:bold;
  font-family:Arial,san-serif;
}
btn{
  color:yellow:
}
