body{
  display: flex;
  background-color:#f4f4f4;
  align-items: center;
}
div{
  width: 140px;
  color:blue;
}
p{
  font-weight:bold;
  font-family:Arial,sans-serif;
}
button{
  background-color:yellow;
  cursor:pointer;
}
